<!-- Header with character name -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{quote.character.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Detail content -->
<ion-content>
  <ion-card>
    <ion-card-header>
      <!-- Card with detail information -->
      <ion-card-subtitle>Detail</ion-card-subtitle>
      <ion-card-title>{{quote.sentence}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Character Nickname</h2>
            <h3>{{quote.character.slug}}</h3>
          </ion-label>
        </ion-item>
  
        <ion-item *ngIf="quote.character.house.name != null">
          <ion-label>
            <h2>Family Name</h2>
            <h3>{{quote.character.house.name}}</h3>
          </ion-label>
        </ion-item>
  
        <ion-item *ngIf="quote.character.house.slug != null">
          <ion-label>
            <h2>Family Nickname</h2>
            <h3>{{quote.character.house.slug}}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
