<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{quote.character.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-text>{{quote.sentence}}</ion-text>
  </div>

  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="thermometer-outline"></ion-icon>
      <ion-label>
        {{quote.character.slug}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="thermometer-outline"></ion-icon>
      <ion-label>
        {{quote.character.house.name}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="thermometer-outline"></ion-icon>
      <ion-label>
        {{quote.character.house.slug}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
