<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Game Of Thrones - Quotes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- Loop of observable array -->
  <!-- card component with weather from API, open detail actions -->
  <ion-item *ngFor="let quote of quotes" class="ion-padding-bottom ion-no-margin">
    <ion-label routerLink="/detail" (click)="openDetail(quote)" class="ion-no-margin ion-no-padding">
    <!-- card show only if data downloaded from server | async in if -->
    <!-- let weather = data injected from if async state -->
      <ion-card-header class="ion-text-center">
        <ion-card-title>

          <ion-row class="ion-no-padding ion-align-items-center ion-text-wrap">
            <ion-col class="ion-no-padding">
              {{quote.sentence}}
            </ion-col>
          </ion-row>

          <ion-row class="ion-no-padding ion-align-items-center ion-text-wrap">
            <ion-col class="ion-no-padding">
              <i>- {{quote.character.name}}</i>
            </ion-col>
          </ion-row>

        </ion-card-title>
      </ion-card-header>
    </ion-label>

    <ion-button slot="end" fill="clear" size="default" class="ion-no-margin" (click)="deleteQuote(quote)">
      <ion-icon slot="icon-only" name="trash-outline" color="danger"></ion-icon>
    </ion-button>

  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-no-margin ion-no-padding">
        <ion-col style="text-align: center">
          <ion-button fill="outline" shape="round" class="ion-no-margin" (click)="generateQuote()">
            <ion-icon slot="icon-only" name="chatbox-ellipses-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>