<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Game Of Thrones - Quotes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- Loop of observable array -->
  <ng-container *ngFor="let item$ of quote$">
    <!-- card component with weather from API, open detail actions -->
    <ion-card *ngIf="item$ | async; let quote" routerLink="/detail" (click)="openDetail(quote)">
      <!-- card show only if data (observable) downloaded from server | async in if -->
      <!-- let weather = data injected from if async state -->
      <ion-card-header>
        <ion-card-subtitle>Quote</ion-card-subtitle>
        <!-- show data -->
        <ion-card-title>
          <ion-row class="ion-no-padding ion-align-items-center">
            <ion-col class="ion-no-padding">
              {{quote.sentence}}
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding ion-align-items-center">
            <ion-col class="ion-no-padding">
              {{quote.character.name}}
            </ion-col>
          </ion-row>
        </ion-card-title>
      </ion-card-header>
      <ion-row class="ion-justify-content-end">
        <ion-col size="3">
          <ion-button (click)="deleteQuote()">Delete</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ng-container>
  <ion-row>
    <ion-col>
      <ion-button (click)="generateQuote()">New Quote</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
